/*Estilos generales*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
body ::selection{
    background-color: red;
    color: #fff;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size: 1.7rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.1rem;
}

::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background-color: #474747;
}
/* fin Estilos generales*/

/*Header y popup carrito*/

.header{
    width: 100%;
    height: 5rem;
    padding: 1rem 3rem;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

.header-titulo h2{
    color: #fff;
}

.carrito-btn h2{
    color: #fff;
    cursor: pointer;
}

#modal{
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 3rem;
    position: relative;
    border-radius: 20px;
    animation: pop-up 1s;
}

.modal-carrito h3{
    color: red;
    margin-bottom: 1rem;
}

.carrito-cerrar{
    position: absolute;
    top: 10%;
    right: 5%;
    padding: .5rem .9rem;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

#modal-contenedor{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-principal-container{
    display: none;
}

.boton-agregar{
    margin-top: .5rem;
    padding: .5rem;
    background-color: red;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.producto-en-carrito{
    border-left: 5px solid red;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.boton-eliminar{
    width: 40px;
    cursor: pointer;
}

/*estilos section de busqueda*/
#busqueda__container{
    width: 100%;
    height: 100vh;
    background-position: 0%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda-contenedor-elementos{
    width: 100%;
    display: flex;
    justify-content: center;

}

.busqueda-title{
    color: #fff;

}

.busqueda-contenedor-elementos-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

#busqueda-entrada-usuario{
    width: 70%;
    height: 2.5rem;
    padding-left: 1.3rem;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}


.busqueda-contenedor-elementos-input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#busqueda-submit-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 600;
    margin-left: -6rem;
    border-radius: 0 50px 50px 0;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
}

.mostrar-en-pantalla{
    font-size: 1.5rem;
}
/* fin estilos section de busqueda*/


/*estilos resultados*/

.resultados-usuario__container{
    margin-top: 3rem;
}

#resultados-usuario{
    width: 100%;
    padding: 5rem;
}

.resultados-titulo-contenedor{
    width: 100%;
}
.rersultados-title{
    text-align: center;
    margin: auto;
    width: 500px;
}

#informacion{
    margin-top: 3rem;
}

.reload{
    width: 6rem;
    height: 2.5rem;
    font-size: 16px;
    margin-top: 3rem;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
    transition: all .3s ease;
}

#reload:hover{
    transform: scale(.9);
}

#resultados-contenedor-principal{
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}

#info-usuario{
    width: 50%;
}

#img-usuario{
    width: 50%;
}

.img{
    border-radius: 20px;
}
/*fin estilos resultados*/

/* informacion datos */
#contenedor-informacion-datos{
    width: 100%;
    padding: 5rem;
    background-color: #f2f2f2;

}

.informacion-datos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.informacion-datos li{
    list-style: none;
    font-size: 20px;
}
/* fin informacion datos */


/* info autores */

#info-autores{
    width: 100%;
    height: 100vh;
    padding: 5rem;
    background-color: #f2f2f2;
}

.autores-title-contenedor{
    width: 100%;

}

.autores-title{
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    width: 300px;
    color: #000;
}

.info-autores__contenedor{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.autor{
    width: 33%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.img-autor{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
    transform: scale(1.1);
}

.autor:hover .img-autor{
    transform: scale(1);
}

.titulo-autor{
    position: absolute;
    left: 20px;
    top: 80%;
    color: #fff;
    z-index: 2;
    border-bottom: 5px red solid;
    font-weight: 400;
}

.autor::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
    );
    z-index: 1;

}

.autor:hover::before{
    z-index: 1;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.1)
    );
}



/* estilos pop up */

.pop-up{
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 3rem;
    position: relative;
    border-radius: 20px;
    animation: pop-up 1s;
}

.pop-up-fecha-autor{
    margin-bottom: 1rem;
}

.pop-up-texto-autor{
    text-align: justify;
}

@keyframes pop-up{
    from{
        top: -330px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.pop-up-bibliografia{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

/* pop GGM */
#pop-up-principal-container-GGM{
    display: none;
}

#pop-up-container-GGM{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fin pop up GGM */

/* popup JC */
#pop-up-principal-container-JC{
    display: none;
}

#pop-up-container-JC{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fin popup JC */

/* pop up EG */
#pop-up-principal-container-EG{
    display: none;
}

#pop-up-container-EG{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* pop up EG */
/* fin estilos pop up */

/* fin info autores */

/* estilos  productos */

#productos-destacados{
    width: 100%;
    height: 100vh;
    padding: 5rem;
}

.productos-destacados-container{
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}
.productos-destacados-contenedor-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

/* estilos cards */

.card {
    width: 33%;
    max-width: 350px;
    height: 25rem;
    border-radius: 30px;
    background: #fff;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    overflow: hidden;
    transition: all .5s ease;
}

.card:hover{
    border-radius: 0 30px;
}

.card-img{
    width: 100%;
    height: 100%;
}

.card-contenedor-texto{
    width: 100%;
    padding: 2rem;
}

.add-to-cart{
    width: 100%;
    height: 13%;
    font-size: 1.3rem;
    transition: all .5s ease;
    border: none;
    background-color: red;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}
.add-to-cart:hover{
    transform: translateY(-30px);
    height: 21%;
}

/* fin estilos cards productos */

/* footer */
.footer{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
}

.footer p a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
/* footer */