/*Estilos generales*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
body ::selection{
    background-color: red;
    color: #fff;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size: 1.7rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.1rem;
}
/* fin Estilos generales*/

/*estilos section de busqueda*/
#busqueda__container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../img/baner-principal.jpg");
    background-position: 0%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda-contenedor-elementos{
    width: 100%;
    display: flex;
    justify-content: center;

}

.busqueda-title{
    color: #fff;

}

.busqueda-contenedor-elementos-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

#busqueda-entrada-usuario{
    width: 70%;
    height: 2.5rem;
    padding-left: 1.3rem;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}


.busqueda-contenedor-elementos-input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#busqueda-submit-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 600;
    margin-left: -6rem;
    border-radius: 0 50px 50px 0;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
}

.mostrar-en-pantalla{
    font-size: 1.5rem;
}
/* fin estilos section de busqueda*/


/*estilos resultados*/

.resultados-usuario__container{
    margin-top: 3rem;
}

#resultados-usuario{
    width: 100%;
    padding: 5rem;
}

.resultados-titulo-contenedor{
    width: 100%;
}
.rersultados-title{
    text-align: center;
    text-decoration: underline red;
    margin: auto;
    width: 500px;
}

#informacion{
    margin-top: 3rem;
}

.reload{
    width: 6rem;
    height: 2.5rem;
    font-size: 16px;
    margin-top: 3rem;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: red;
    transition: all .3s ease;
}

#reload:hover{
    transform: scale(.9);
}

#resultados-contenedor-principal{
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}

#info-usuario{
    width: 50%;
}

#img-usuario{
    width: 50%;
}

.img{
    border-radius: 20px;
}
/*fin estilos resultados*/

/* informacion datos */
#contenedor-informacion-datos{
    width: 100%;
    padding: 5rem;
    background-color: #f2f2f2;

}

.informacion-datos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.informacion-datos li{
    list-style: none;
    font-size: 20px;
}
/* fin informacion datos */


/* info autores */

#info-autores{
    width: 100%;
    height: 100vh;
    padding: 5rem;
    background-color: #000;
}

.autores-title-contenedor{
    width: 100%;

}

.autores-title{
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    width: 300px;
    color: #fff;
}

.info-autores__contenedor{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.autor{
    width: 33%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.img-autor{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
    transform: scale(1.1);
}

.autor:hover .img-autor{
    transform: scale(1);
}

.titulo-autor{
    position: absolute;
    left: 20px;
    top: 80%;
    color: #fff;
    z-index: 2;
    border-bottom: 5px red solid;
    font-weight: 400;
}

.autor::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
    );
    z-index: 1;

}

.autor:hover::before{
    z-index: 1;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.1)
    );
}



/* estilos pop up */

.pop-up{
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 3rem;
    position: relative;
    border-radius: 20px;
    animation: pop-up 1s;
}

.pop-up-fecha-autor{
    margin-bottom: 1rem;
}

.pop-up-texto-autor{
    text-align: justify;
}

@keyframes pop-up{
    from{
        top: -330px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.pop-up-bibliografia{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

/* pop GGM */
#pop-up-principal-container-GGM{
    display: none;
}

#pop-up-container-GGM{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fin pop up GGM */

/* popup JC */
#pop-up-principal-container-JC{
    display: none;
}

#pop-up-container-JC{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fin popup JC */

/* pop up EG */
#pop-up-principal-container-EG{
    display: none;
}

#pop-up-container-EG{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* pop up EG */
/* fin estilos pop up */

/* fin info autores */






/* footer */
.footer{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
}

.footer p a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
/* footer */